<div class="center-block">
  <img src="\assets\CeruleanCubeSquooshed.jpg" class="deck-page"/>
</div>
<div class="center-block">
  <img src="\assets\deck-aboutUsSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-clientsSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-coreServicesSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-gameDesignAndDevSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-inHouseSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-whyCeruleanSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-beatbombSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-spartanFistSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-purrtatoSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-fullOfferingsSquooshed.jpg" class="deck-page" />
</div>
<div class="center-block">
  <img src="\assets\deck-lastPageSquooshed.jpg" class="deck-page" />
</div>
