/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
    position:relative;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index:10;
}

.full-page {
    margin-bottom:30px;
}
