<div class="row">
  <div class="col-md-10 offset-1 text-white">
    <div class="border rounded m-5 bg-secondary">
      <h2 class="text-center">Tell us a little about your needs, or just say hello!</h2>
      <p>We're happy to take projects of all types - both games and application related, so feel free to throw something our way and see if it sticks. Or if you just want to say hi, go ahead and do that as well! We love hearing from friends and fans!</p>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="alert-success col-4  m-2">
    <p class="text-center">Phone</p>
    <p class="text-center">1-720-295-GAME (4263)</p>
</div>
  <div  class="alert-success col-4 m-2">
    <p class="text-center">Email Address</p>
    <p class="text-center"><a href="mailto:contactus@ceruleangames.com">contactus@ceruleangames.com</a></p>
</div>
</div>
