<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Hi! I'm RedVonix, </h3>
    <h3 class="text-center">And Welcome To My Special Little Studio.</h3>
    <p>When I first created my secret blend of seven-hundred and fourteen herbs, spices, and paint colors I knew I was on to something unique. As the walls melted and the invisible creatures my cats chased suddenly become corporeal to my eyes, it was immediately apparent - I had stumbled upon what made video games function. Without hesitation, Cerulean Games was founded so we could use the newly discovered ancient art of this recipe to do what anyone would do when they discovered one of the mystical secrets of the universe - to make money.</p>
    <p>While that recipe was lost in the great pear incident of 2014, Cerulean Games continues to thrive today in this great big beautiful tomorrow thanks to our long-term experience and proven capability. We're still here as a small and intimate studio that works closely with our clients and partners to produce their original games and content, port their titles to AAA consoles, and just lend a hand when needed - because let's face it, we're all in this life thing together, and sometimes you just need someone to scratch your back. And we need someone to scratch our back. And then we just need to scratch each others back. No, a little lower... yeah, that's the spot.</p>
    <p>While we may have lost that amazing recipe filled with unstable herbs found in dad's kitchen and unpronounceable paint colors from grandma's garage, we know - deep down inside - a little bit of what makes video games happen resides deep inside all of us, and we here at Cerulean Games are ready to work with you to help you find it. (Literally - pieces of that recipe are now genetically fused within every living being on the planet, and we're still trying to collect them all). So go ahead, reach out and say hello. I mean - we might bite. We might not. You won't know unless you say hi, and what's the fun of not knowing?</p>
  </div>
  <div class="col-md-6">
    <img src="/assets/RedVonixSquooshed.jpg" />
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 text-white">
  <div class="col">
    <div class="card bg-secondary">
      <div class="row">
        <div class="col-md-3">
          <fa-icon [icon]="paw" size="5x"></fa-icon>
        </div>
        <div class="col-md-9">
          <h4>Personality</h4>
          <p>We pride ourselves in being just a little different from the rest by bring a bit more personality to the table. Heck, look at RedVonix - that's the actual name he goes by in the industry. Trademarked it and everything! And hoo-boy does he have a great story on why he did that. Ask him some time! If he likes you, he might even tell you his real name (which he doesn't really try and hide).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  bg-secondary">
      <div class="row">
        <div class="col-md-3">
          <fa-icon [icon]="paw" size="5x"></fa-icon>
        </div>
        <div class="col-md-9">
          <h4>Personality</h4>
          <p>We pride ourselves in being just a little different from the rest by bring a bit more personality to the table. Heck, look at RedVonix - that's the actual name he goes by in the industry. Trademarked it and everything! And hoo-boy does he have a great story on why he did that. Ask him some time! If he likes you, he might even tell you his real name (which he doesn't really try and hide).</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card  bg-secondary">
      <div class="row">
        <div class="col-md-3">
          <fa-icon [icon]="trophy" size="5x"></fa-icon>
        </div>
        <div class="col-md-9">
          <h4>Extra Curricular Activities</h4>
          <p>You may have seen us in the news for various other things in the past. All good, we promise! Just some of the other things we have done include:</p>
          <ul>
            <li>Hosted a fundraising game jam, BlazeJam, to raise money to help with the fires that destroyed an entire town in Colorado.</li>
            <li>Created game trailers and cut videos (we're not experts, but it's fun and we like doing it, and people really dig that Santa's Special Delivery trailer we made!)</li>
            <li>Run booths at conventions - of which we have been to MANY - including MAGFest, Denver ComiCon, PAX Prime and more. We've run our own booth and helped others run theirs.</li>
            <li>Mentoring! RedVonix has, especially as of 2018, been really eager to share his knowledge with others, and has started mentoring at events and writing articles about his experiences - both good and bad - in the trenches of the game industry.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
