
<br />
<div class="row">
  <div class="col-md-6 offset-2">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="960" class="text-center">
      <!--<source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">-->
      <source src="../../assets/CeruleanWebsiteVideo-original.mp4" type="video/mp4" />
      this is a video test
    </video>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6">
    <h3>A Studio In the Mountains</h3>
    <p class="small">
      From original projects, to licensed work, and console ports - Cerulean Games is a small yet highly experienced studio of mountain-dwelling digital chefs that can cook your needs to perfection and serve them up with a little crème fraiche. And who doesn't love a side of crème fraiche.
    </p>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <fa-icon [icon]="faGamepad" size="3x"></fa-icon>
        <h4>Unity Experts</h4>
        <p>
          We know Unity because we use Unity. Like, for everything. We drive our cars with it. We cook our food with it - heck, we even produce our own games with it. And we've been using that engine almost every single day since 2009. We remember a time before Shuriken, back when Gooball was the height of excitement.
        </p>
        <p>
          Yeah... that's right. We see Unity in our dreams.
        </p>
      </div>
      <div class="col-md-6">
        <fa-icon [icon]="arrowLink" size="3x"></fa-icon>
        <h4>Console Port Specalists</h4>
        <p>
          Porting games to consoles is a little something special we've picked up along the way, and we've grown rather fond of doing it. We've got licenses and devkits for all the big consoles include Xbox One, PlayStation 4, PlayStation Vita and - yup - even the Nintendo Switch. We can do the dirty work of optimizing your game for the platform, advising on changes needed to meet platform requirements, and heck - we can even act as your publisher if you need it.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <fa-icon [icon]="tachometer" size="2x"></fa-icon>
        <h4>Optimization Wizards</h4>
        <p>
          Years of producing mobile games has taught us numerous critical tricks and techniques on how to push performance where it counts. Thanks to that, we know how to optimize Unity projects to boost speed and performance in some of even the most extreme cases.
        </p>
      </div>
      <div class="col-md-6">
        <fa-icon [icon]="users" size="3x"></fa-icon>
        <h4>Small to Large</h4>
        <p>
          Our company structure allows us to scale to meet your needs. This means if you just need a small team to help complete production on part of your project, we're ready. And if you need a full company to take that idea of yours and finish turning it into a complete design then build it into a full finished game - we're ready and able to do that as well.
        </p>
      </div>
    </div>
  </div>
</div>
