<body>
  <app-nav-menu></app-nav-menu>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <div class="p-md-5"></div>
  <footer class="footer">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img src="assets/cubeLogo.png" width="112" height="97" />
        </div>
        <div>©2010 Cerulean Games, Inc. All rights reserved.</div>
        <div>©2017 RedVonix All rights reserved, used with permission.</div>
      </div>
      <div class="col-md-4">
        <div>Links</div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="cerulean-company-deck">Company Pitch Deck</a></li>
          <li><a href="cerulean-portfolio">Portfolio</a></li>
          <li><a href="cerulean-about">About Red Vonix</a></li>
          <li><a href="cerulean-contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <div class="row">
          <div class="col-md-3">Address:</div>
          <div class="col-md-9">PO Box 271372</div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">Fort Collins, CO  80527</div>
        </div>
        <div class="row">
          <div class="col-md-3">Email:</div>
          <div class="col-md-9">contactus@ceruleangames.com</div>
        </div>
        <div class="row">
          <div class="col-md-3">Phone:</div>
          <div class="col-md-9">+1 720 295 GAME (4263)</div>
        </div>
      </div>
    </div>
  </footer>
</body>
